.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 20px 60px;
  box-sizing: border-box;
  height: 10vh;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.heading {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #FFF;
}

.linksList {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 12px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.li:hover {
  opacity: .6;
}

.logo {
  width: 60px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.tgLogo {
  width: 36px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 10px 16px;
    height: 10vh;
  }
}