.post {
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  box-sizing: border-box;
}

.title {
  color: #000;
  margin: 0;
  font-weight: 700;
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
}

.text {
  color: #000;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}